<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="dbcon" connectionString="Server=122.170.117.118;Database=bseb;User ID=bseb;Password=xxxxxx;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
		<add name="dbcon" connectionString="Server=DESKTOP-6CCP9O7;Database=BSEB-V3;User ID=;Password=;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<!--<add name="dbcon" connectionString="Server=localhost;Database=bseb;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;" />-->

		<!--<add name="dbcon"
	connectionString="Server=115.243.18.53,1440;Database=BSEB-V1;User Id=anuja;Password=qL120&amp;btDqUI;Integrated Security=False;Connect Timeout=60;"
	providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<sessionState timeout="60" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<!-- Increase max request length to 2GB -->
		<httpRuntime maxRequestLength="2097151" executionTimeout="7200" />
		<!--<httpRuntime targetFramework="4.8" maxRequestLength="2097151" executionTimeout="600"/>-->
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Diagnostics.Tracing, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Security.Cryptography.Encoding, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Security.Cryptography.Primitives, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Threading.Thread, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<pages enableEventValidation="false" />
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Increase max allowed content length (bytes) -->
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<defaultDocument enabled="true">
			<files>
				<add value="login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<log4net>
			<root>
				<level value="ALL" />
				<appender-ref ref="console" />
				<appender-ref ref="file" />
			</root>
			<appender name="console" type="log4net.Appender.ConsoleAppender">
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date %level %logger - Page: %aspnet-request{PageName} - %message%newline" />
				</layout>
			</appender>
			<appender name="file" type="log4net.Appender.RollingFileAppender">
				<file value="logs/bseb.log" />
				<appendToFile value="true" />
				<rollingStyle value="Size" />
				<maxSizeRollBackups value="5" />
				<maximumFileSize value="10MB" />
				<staticLogFileName value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
				</layout>
			</appender>
		</log4net>
	</runtime>
</configuration>